@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=JetBrains+Mono:wght@100;200;300;400&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css);


/* variedades =============================== */
* {
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}






/* escurecimento do conteudo ao clicar no menu */
.shadow {
    position: absolute;
    width:100vw;
    height:100vh;
    z-index: 0;
    opacity: 0;
    background-color: rgba(26, 25, 25, 0.438)
}   

.show-menu .shadow {
    opacity: 1;
    z-index: 1;
}

/* ========================== */






.hamburguer{
    background-color:rgba(255, 0, 0, 0);
    width:2rem;
    height:2rem;
    position:fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.line {                               /*  linhas do hamburguer */
    width: 100%;
    height: .1rem;
    background-color:white;
    transition: transform 1s;
    
}

/* ============================================== */





/* .ButtonCustom custom ===============================================*/
.ButtonCustom {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
   }
   
   .ButtonCustom:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
   }
   
   .ButtonCustom:active {
    transform: translateY(-1px);
   }

/* ========================================================= */










/* header ================================================== */

header{
    width:100%;
    height:100vh;
    overflow: hidden;
    position:relative;
}
.img-wrapper{
    width: 100%;
    height: 100%;

    background-color: rgba(2, 2, 2, 0.952);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

/* animação background */


.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1 {
    color: white;
    font-size: 3.5rem;  /* não use pixel por questões de acessibilidade, use rem */
    font-family: var(--font-tertiary);
    font-weight: 300;
    text-transform: uppercase;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, 0.404);
    line-height: 3.5rem;
    opacity: 0;
    animation: moveBanner 0.5s forwards;
    
}   


.banner p {
    font-family: var(--font-tertiary);
    font-size: 2rem;
    color: white;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, 0.404);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation: moveBanner 0.7s forwards;

}
.banner #button-banner{
    animation: moveBanner 1s forwards;
}


/* animação dos componentes do banner */

/* =========================================================== */






















/* animação sidebar - menu ==================================== */
.sidebar{
    width: 20rem;
    height:100vh;
    background-color:rgb(182, 181, 181);
    position: fixed;
    top:0;
    right: -20rem;
    transition: all 0.4s;
    
    
    
}

.show-menu .sidebar {
    right:0;
    z-index: 2;
}



.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -57%);
    text-align: center;
    text-transform: uppercase;
}



.hamburguer span{
    position: absolute;
    right: 50px;
    width: 5rem;
    height:2rem;
    padding:0.4rem;
    background-color: rgb(221, 220, 220);
    text-align: center;
    font-family: var(--font-primary);
    text-transform: uppercase;
    border-radius: 18px;
    opacity: 0;
}

.hamburguer span::before {
    content: " ";
    position: absolute;
    border-right: .5rem solid transparent;
    border-top: .5rem solid transparent;
    border-left: .5rem solid rgb(221, 220, 220);
    border-bottom: .5rem solid transparent;
    left: 5.7rem;
    bottom: .9rem;
    
}


/* conserto temporário do span */
@media (min-width: 821px ){ 

.show-menu .hamburguer:hover span {
    opacity: 1;
    transition-delay: 1s;
}


}

/* animação das linhas do menu */


.show-menu #line2 {
    transform:translate(-2px, -15px);
   background-color: rgba(255, 255, 255, 0.418)
}

.show-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .44rem);
}
.show-menu #line3 {
    transform: rotate(-45deg) translate(.3rem, -.44rem);
}




.menu-link{
    font-family: var(--font-tertiary);
    font-size: 2rem;
    color: rgba(13, 14, 13, 0.801);
    transition:color 1s;
    
}



.menu-link:hover{
    color: rgb(255, 254, 254);
}

.menu-item {
    margin: 1.5em;
    
}

/* animação itens do menu =================================== */
.show-menu #menu-1 {
    animation: moveMenu .4s;
}
.show-menu #menu-2 {
    animation: moveMenu .6s ;
}
.show-menu #menu-3 {
    animation: moveMenu .8s ;
}
.show-menu #menu-4 {
    animation: moveMenu 1s ;
}
.show-menu #menu-5 {
    animation: moveMenu 1.3s ;
}
.show-menu #menu-6 {
    animation: moveMenu 1.5s ;
}


/* =============================================================== */








/* redes sociais */

.social-media {
    position: absolute;
    bottom:2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    

}

.social-media i{
    background-color:rgba(0, 0, 0, 0);
    color:black;
    height:2.5rem;
    font-size: 2.7rem;
    transition: color 1s;
}

.social-media i:hover{
    color:rgb(255, 255, 255);
}

 /* animação redes sociais */
.show-menu #social-1 {
    animation: moveBanner 1.6s;
}
.show-menu #social-2 {
    animation: moveBanner 1.8s;
}
.show-menu #social-3 {
    animation: moveBanner 2s;
}
/* ================================================== */